.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.case {
  min-width: 8rem;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 0.6rem;
}

.case button {
  color: inherit;
  font: inherit;
  border: none;
  user-select: text;
  outline-width: 1px;
  outline-style: auto;
  padding: 2px;
  background-color: transparent;
}

code {
  overflow-wrap: anywhere;
}

input {
  background-color: transparent;
  border: 1px solid currentColor;
  color: currentColor;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: "Fira Code", monospace;
  text-align: center;
  width: 80%;
}
